*{
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
}

body{
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-items: center;
    margin: 0 -10px; 
}

a{
    text-decoration: none;
}

/*--------------------Cabeça--------------------*/

header{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}

header nav{
    list-style: none;
    display: flex;
    padding: 10px;
}

header li{  
    margin: 0 15px;    
    justify-items:center;
}

header li:first-child{
    margin-left: 20px;
}

header li:last-child{
    margin-right: 20px;
}

@media (max-width:500px){
    header{
        flex-direction: column;
    }    
}

#icone{
    font-size: 40px;
    margin: 20px;
}

#icone img{
    width: 50px;
    height: 50px;
}

.botao{
    font-size: 20px; 
}

/*--------------------Corpo--------------------*/

main{
    background-color:#0113ba;
    width:100%;
    height: auto; 
}

#intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 10px;
}

#intro p{
    width: 70%;
    margin: 10px;
}

@media (max-width:500px){
    #intro{
        flex-direction: column;
    }

    #intro p{
        width: 100%;
        margin: 10px;
    }
}

.print{
    width: 70%;
    margin: 5px 0;    
}

.container{
    display: flex;
    flex-direction: row;
    height: auto;
}

.container p{
    margin-right: 10px;
}

h2{
    font-size: 20px;
    margin-left: 20px;
}

@media (max-width:700px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    
    .print{
        width: 100%;
    }

    .container p{
        margin: 10px;
    }
}

#fim{
    padding: 0 30px 10px;
    width: auto;
}

#fim p{
    text-indent: 20px;
}

/*--------------------pé--------------------*/

footer{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    align-items: center;
    margin-bottom: -10px;
}