*{
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
}

body{
    background-color:silver;
    height: auto;
}

/*--------------------Cabeça--------------------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:#0113ba;
}

h1{
    margin-right: 50px;
    margin-left: 50px;
}

#voltar{
   
   
}

#img{
    width: 20px;
    height: 20px;
}

/*--------------------Corpo--------------------*/

main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    font-size: 10px;  
}

div{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    margin: 0 10px 0 10px;
    width:90%;
    max-width: 500px;
    height: auto;
    word-wrap: normal;
    
}

/*--------------------pé--------------------*/

footer{
    background-color: #0113ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    align-items: center;
    padding-bottom: 10px;
}