*{
    font-family: Arial, Helvetica, sans-serif;
    color:  silver;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-image: url("../imagens/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color:rgb(1, 1, 1);
}

a{
    color:  silver;
    text-decoration: none;
}

/*--------------------Cabeça--------------------*/

header{
    background-color: rgb(0, 0, 0, 0.8);
    max-width: 600px;
    min-width: 180px;
    width: 100%;
    height: auto;
    margin: 10px auto 10px auto;
    padding: auto;
    border: solid 2px silver;
    border-radius: 15px;  
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas:
        "f t"
        "f i";      
}

@media (max-width:500px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    
    #foto img{
        height: 300px;
        margin: 10px 0 0 -10px; 
        padding: 0; 

    }

    #titulo{
        align-self: center;
        justify-self: center;
        position: relative;
        right: 30%;
    }
}

#foto{
    grid-area:f;
    align-self: center;
    justify-self: center;
    float: left;
    margin: 10px 0;
}

#foto img{
    width: 100%;
    border-radius: 50%;
    margin-left: 10px;
}

#titulo{
    grid-area:t;
    align-self:end;
    margin-bottom: -20px;
    margin-left: 20px;
}

#intro{
    font-size: 20px;
    grid-area:i;   
    align-self: start;
    justify-self:start;
    margin-right: 10px;
    margin-left: 20px;   
}

/*responsividade*/

@media only screen and (max-width: 500px){   
    #tmain{
        font-size: 30px;
    }
    
    #mail{
        font-size: 20px;
    }  
}

/*--------------------Corpo--------------------*/

#main{
    background-color: rgb(0, 0, 0, 0.8);
    max-width: 600px;
    min-width: 180px;
    width:100%;
    height: auto;
    margin: auto;
    border:solid 2px silver;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
}

main{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

h2{
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

#lista{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 150px;
    width: 90%;
    margin: 10px 0;
    padding: 10px 0;
}

/* botão */

.botao{    
    font-size: 30px;
    height: 40px;
    display: flex;
    border: solid 2px silver;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 1s ease;
    padding: 10px 0;  
}

.img{
    margin-right: 30%;
    margin-left: 20px;
}

/* cor do botão ao colocar o mouse em cima */

#bgit:hover{
    background-color: rgb(115, 0, 168);
    border: solid 2px white;
    transition: 0.5s ease;
    color:white;   
}

#bpy:hover{
    background-color:#0176bc;
    border: solid 2px white;
    transition: 0.5s ease;
    color:white;
}

#bht:hover{
    background-color: #fc490b;
    border: solid 2px white;
    transition: 0.5s ease;
    color:white;
}

#bcs:hover{
    background-color:#0113ba;
    border: solid 2px white;
    transition: 0.5s ease;
    color:white;
}

#bjs:hover{
    background-color: #ccaa00;
    border: solid 2px white;
    transition: 0.5s ease;
    color:white;
}

/* efeito ao clicar no botão */

.botao:active{
    box-shadow: 0px 0px 0px 0px, 2px 2px 2px;
    transform: translate(2px , 2px);
    transition: 1s ease;
}

/* embed spotify */

main div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#spotify{
    border: solid 2px silver;
    margin: 10px 0 0 0;
    border-radius: 15px;
    max-width: 600px;
    min-width: 180px;
    height: 200px;
    width: 100%;

}

/*--------------------pé--------------------*/

footer{
    max-width: 600px;
    min-width: 180px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: auto 10px;
    margin: 10px auto 10px auto;
    border: solid 2px silver;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.8);
}

#mail{
    font-size: 30px;
    align-self: center;
    justify-self: center;
}