*{
    font-family: Arial, Helvetica, sans-serif;
    color:  silver;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

a{
    color:  silver;
    text-decoration: none;
}

/*--------------------Cabeça--------------------*/

header{
    background-color: rgb(0, 0, 0, 0.8);
    max-width: 600px;
    min-width: 200px;
    width: 100%;
    height: auto;
    margin: 10px auto 10px auto;
    padding: auto 10px;
    border: solid 2px silver;
    border-radius: 10px;  
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "f t"
        "f i";      
}

#foto{
    grid-area:f;
    align-self: center;
    justify-self: center;
}

#titulo{
    grid-area:t;
    align-self:end;
}

#intro{
    font-size: 20px;
    grid-area:i;   
    align-self: start;
    justify-self:center;
    padding-right: 10px;   
}


/*--------------------Corpo--------------------*/

main{
    background-color: rgb(0, 0, 0, 0.8);
    max-width: 600px;
    min-width: 200px;
    width:100%;
    height: auto;
    margin: auto 20px;
    padding: auto 10px;
    border:solid 2px silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
}

h2{
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

#lista{
    position: relative;
    display: flex;
    flex-direction: column; 
    max-width: 400px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0;
    

}


.botao{    
    font-size: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    border: solid 2px silver;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 1s ease;
    padding: 10px 0;
}



#bgit:hover{
    background-color: rgb(115, 0, 168);
    border: solid 2px white;
    transition: 0.5s ease;   
}

#bpy:hover{
    background-color:#0176bc;
    border: solid 2px white;
    transition: 0.5s ease;
}

#bht:hover{
    background-color: #fc490b;
    border: solid 2px white;
    transition: 0.5s ease;
}

#bcs:hover{
    background-color:#0113ba;
    border: solid 2px white;
    transition: 0.5s ease;
}

#bjs:hover{
    background-color: #ccaa00;
    border: solid 2px white;
    transition: 0.5s ease;
    color:white;
}

.botao:active{
    box-shadow: 0px 0px 0px 0px, 2px 2px 2px;
    transform: translate(2px , 2px);
    transition: 1s ease;
}

/*--------------------pé--------------------*/

footer{
    font-size: 30px;
    max-width: 600px;
    min-width: 200px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: auto 10px;
    margin: 10px auto 10px auto;
    border: solid 2px silver;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.8);
}

#mail{
    align-self: center;
    justify-self: center;
}